# Exercise 1
# Calculate the net single premium for a pure endowment insurance with €150,000 sum insured and 35 years contract duration for a 30-year-old man born 1992. Use the interest rates i1 = 0%, i2 = 0.5% and i3 = 2%.

In [1200]:
import pandas as pd

file_path = "C:\\Users\\Study\\Downloads\\AVOe 2005R English.xlsx"
sheet_name = 'Mortality Table Austria'
mt = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl', header=0, index_col=0) #mt = mortality table

In [1202]:
mt.head()

     l_u unisex  l_x male  l_y female
Age
0       100.000   100.000     100.000
1        99.414    99.261      99.447
2        99.371    99.216      99.402
3        99.343    99.183      99.374
4        99.325    99.160      99.357

In [1204]:
def E(x, y):
    value1 = mt.iloc[x, 0]
    value2 = mt.iloc[x+y, 0]
    
    return (value2/value1)

In [1206]:
E(30,35)

0.9772915865530571

In [1208]:
def SP (amount, r, E, period):
    return amount * E * (1+r)**(-period)

In [1210]:
#r=0%
SP(amount = 150000, r = 0, E = 0.9772915865530571, period = 35)

146593.73798295858

In [1212]:
#r=0.5%
SP(150000, 0.5/100, 0.9772915865530571, 35)

123112.8138352659

In [1214]:
#r=2%
SP(150000, 2/100, 0.9772915865530571, 35)

73300.91693703689

# Exercise 2
# Calculate the net single premium for a term life insurance for a 35-year-old women born 1985 with a contract period of 25 years and €320,000 sum insured. Use i = 0.5% and i = 4% as interest rates.

In [1219]:
file_path = "C:\\Users\\Study\\Downloads\\AVOe 2005R English.xlsx"
sheet_name = 'AVÖ 2005R'

data = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl', header=3, index_col=7)

data = data[['Age','q(x)','q(y)','q(u)']]
data.columns = ['Age','q(x)_male','q(y)_female','q(u)_unisex']

data['Age'] = data['Age'].fillna(-1).astype(int)  

data.index = pd.to_numeric(data.index, errors='coerce').fillna(-1).astype(int)
data.index.name = 'Year'

data.head(5)

      Age  q(x)_male  q(y)_female  q(u)_unisex
Year
1985    0   0.009449     0.007066     0.007490
1986    1   0.000581     0.000584     0.000559
1987    2   0.000423     0.000359     0.000364
1988    3   0.000303     0.000214     0.000232
1989    4   0.000220     0.000154     0.000167

In [1015]:
def calculate_NSP_Term_Life(SP, qu, r):
    values = data.iloc[qu[0]:qu[0]+qu[1],3].values
    denominators = [(1 + r)**(n + 1) for n in range(len(values))]
    total= sum(values/denominators)*SP
    return total

In [1017]:
result_1 = calculate_NSP_Term_Life(SP=320000, qu=(35, 25), r=0.5/100)
print(result_1)

result_2 = calculate_NSP_Term_Life(SP=320000, qu=(35, 25), r=4/100)
print(result_2)

5380.6367526082595
3278.3225618556726

Using this code you can check result of each calculation step
```python
def calculate_NSP_Term_Life(SP, qu, r):
    values = data.iloc[qu[0]:qu[0]+qu[1],3].values
    denominators = [(1 + r)**(n + 1) for n in range(len(values))]
    
    results = []
    for value, denom in zip(values, denominators):
        division_result = value / denom
        print(f"value: {value}, denominator: {denom}, division result: {division_result}")
        results.append(division_result)
    
    total = sum(results)*SP
    return total

result = calculate_NSP_Term_Life(SP=320000, qu=(35, 25), r=4/100)
print("Final calculated result:", result)
```

# Question 3
# Calculate the net single premium for an endowment insurance for €100,000 for a 25-year-old man with a contract period of 35 years and interest rate i = 1%. Use the following years of birth:

## a. year of birth 1980

In [1259]:
file_path = "C:\\Users\\Study\\Downloads\\AVOe 2005R English.xlsx"
sheet_name = 'Ex3 a'
data = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl', header=3, index_col=7)

data = data[['Age','q(x)','q(y)','q(u)']]
data.columns = ['Age','q(x)_male','q(y)_female','q(u)_unisex']

data['Age'] = data['Age'].fillna(-1).astype(int)  

data.index = pd.to_numeric(data.index, errors='coerce').fillna(-1).astype(int)
data.index.name = 'Year'

data.head(5)

      Age  q(x)_male  q(y)_female  q(u)_unisex
Year
1980    0   0.012032     0.008998     0.009538
1981    1   0.000741     0.000745     0.000713
1982    2   0.000540     0.000458     0.000464
1983    3   0.000387     0.000273     0.000296
1984    4   0.000281     0.000197     0.000214

In [1261]:
mt.head()

     l_u unisex  l_x male  l_y female
Age
0       100.000   100.000     100.000
1        99.414    99.261      99.447
2        99.371    99.216      99.402
3        99.343    99.183      99.374
4        99.325    99.160      99.357

In [1263]:
nPx = mt.iloc[60,0]/mt.iloc[25,0]
nPx

0.9817661744342359

In [1265]:
def calculate_NSP_Endowment(SP, qu, r, nPx):
    values = data.iloc[qu[0]:qu[0]+qu[1],3].values
    denominators = [(1 + r)**(n + 1) for n in range(len(values))]
    total= (sum(values/denominators)+nPx/(1+r)**(len(values)))*SP
    return total

In [1267]:
calculate_NSP_Endowment(SP = 100000, qu = (25,35), r= 1/100, nPx = 0.9817661744342359)

71225.1332899853

Using this code you can check result of each calculation step
```Python
def calculate_NSP_Endowment(SP, qu, r, nPx):
    values = data.iloc[qu[0]:qu[0]+qu[1],3].values
    denominators = [(1 + r)**(n + 1) for n in range(len(values))]
    
    results = []
    for value, denom in zip(values, denominators):
        division_result = value / denom 
        print(f"value: {value}, denominator: {denom}, division result: {division_result}")
        results.append(division_result)
    
    nPx = nPx/(1+r)**len(values)
    total = (sum(results) + nPx)*SP
    print(f"npx division result: {nPx}")
    return total
    
result = calculate_NSP_Endowment(SP = 100000, qu = (25,35), r= 1/100, nPx = 0.9817661744342359)
print("Final calculated result:", result)
```

## b. year of birth 1992

In [1296]:
file_path = "C:\\Users\\Study\\Downloads\\AVOe 2005R English.xlsx"
sheet_name = 'Ex3 b'
data = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl', header=3, index_col=7)

data = data[['Age','q(x)','q(y)','q(u)']]
data.columns = ['Age','q(x)_male','q(y)_female','q(u)_unisex']

data['Age'] = data['Age'].fillna(-1).astype(int)  

data.index = pd.to_numeric(data.index, errors='coerce').fillna(-1).astype(int)
data.index.name = 'Year'

data.head(5)

      Age  q(x)_male  q(y)_female  q(u)_unisex
Year
1992    0   0.006695     0.005007     0.005308
1993    1   0.000412     0.000414     0.000396
1994    2   0.000299     0.000254     0.000257
1995    3   0.000214     0.000151     0.000164
1996    4   0.000155     0.000109     0.000118

In [1277]:
def calculate_NSP_Endowment(SP, qu, r, nPx):
    values = data.iloc[qu[0]:qu[0]+qu[1],3].values
    denominators = [(1 + r)**(n + 1) for n in range(len(values))]
    total= (sum(values/denominators)+nPx/(1+r)**(len(values)))*SP
    return total

In [1279]:
calculate_NSP_Endowment(SP = 100000, qu = (25,35), r= 1/100, nPx = 0.9817661744342359)

70702.33743318239

Using this code you can check result of each calculation step
```Python
def calculate_NSP_Endowment(SP, qu, r, nPx):
    values = data.iloc[qu[0]:qu[0]+qu[1],3].values
    denominators = [(1 + r)**(n + 1) for n in range(len(values))]
    
    results = []
    for value, denom in zip(values, denominators):
        division_result = value / denom 
        print(f"value: {value}, denominator: {denom}, division result: {division_result}")
        results.append(division_result)
    
    nPx = nPx/(1+r)**len(values)
    total = (sum(results) + nPx)*SP
    print(f"npx division result: {nPx}")
    return total
    
result = calculate_NSP_Endowment(SP = 100000, qu = (25,35), r= 1/100, nPx = 0.9817661744342359)
print("Final calculated result:", result)
```

## c. year of birth 2001

In [1302]:
file_path = "C:\\Users\\Study\\Downloads\\AVOe 2005R English.xlsx"
sheet_name = 'Ex3 c'
data = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl', header=3, index_col=7)

data = data[['Age','q(x)','q(y)','q(u)']]
data.columns = ['Age','q(x)_male','q(y)_female','q(u)_unisex']

data['Age'] = data['Age'].fillna(-1).astype(int)  

data.index = pd.to_numeric(data.index, errors='coerce').fillna(-1).astype(int)
data.index.name = 'Year'

data.head(5)

      Age  q(x)_male  q(y)_female  q(u)_unisex
Year
2001    0   0.004274     0.003197     0.003388
2002    1   0.000263     0.000264     0.000253
2003    2   0.000191     0.000162     0.000164
2004    3   0.000137     0.000096     0.000105
2005    4   0.000099     0.000069     0.000075

In [1304]:
def calculate_NSP_Endowment(SP, qu, r, nPx):
    values = data.iloc[qu[0]:qu[0]+qu[1],3].values
    denominators = [(1 + r)**(n + 1) for n in range(len(values))]
    total= (sum(values/denominators)+nPx/(1+r)**(len(values)))*SP
    return total

In [1306]:
calculate_NSP_Endowment(SP = 100000, qu = (25,35), r= 1/100, nPx = 0.9817661744342359)

70422.80353421267

Using this code you can check result of each calculation step
```Python
def calculate_NSP_Endowment(SP, qu, r, nPx):
    values = data.iloc[qu[0]:qu[0]+qu[1],3].values
    denominators = [(1 + r)**(n + 1) for n in range(len(values))]
    
    results = []
    for value, denom in zip(values, denominators):
        division_result = value / denom 
        print(f"value: {value}, denominator: {denom}, division result: {division_result}")
        results.append(division_result)
    
    nPx = nPx/(1+r)**len(values)
    total = (sum(results) + nPx)*SP
    print(f"npx division result: {nPx}")
    return total
    
result = calculate_NSP_Endowment(SP = 100000, qu = (25,35), r= 1/100, nPx = 0.9817661744342359)
print("Final calculated result:", result)
```